:root {
  --color-primary: rgba(128, 0, 128, 0.8); /* Strong red accent */
  --color-red-Highlights: #e50914; /*  importanr Netflix-style highlight */

  --color-background-primary: #171719; /* Main dark background */
  --color-background-secondary: #343a40; /* Cards / elevated areas */

  --color-text: #dee2e6; /* Main text (light gray) */
  --color-text-dark: #adb5bd; /* Secondary text */

  --color-ai-purple: #9d4edd;

  /* Optional neutral tones for borders */
  --color-border: #2d2d2f;
}
@font-face {
  font-family: "Ubuntu-mediam";
  src: url("./assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu-mediam";
}

body {
  padding-top: 70px;
  color: var(--color-text);
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: var(--color-background-primary);
}
p {
  margin: 0;
}
/* .section-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
.navbar {
  background-color: var(--color-primary);
}
.navbar a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.6s ease;
  display: block;
  padding: 0 10px;
}
.navbar a:hover {
  color: var(--color-text-dark);
  transform: scale(1.2);
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-dark);
  transition: width 0.3s ease;
}
.navbar a:hover::after {
  width: 100%;
}
.navbar button {
  color: var(--color-text) !important;
}
.raduis {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.submit-btn {
  border: none;
  position: absolute;
  background-color: var(--color-ai-purple);
  border-radius: 10px;
  height: auto;
  top: -3px;
  right: -20px;
}
.submit-btn img {
  width: 45px;
  transition: rotate 1s ease;
}
.submit-btn:hover img {
  rotate: 86deg;
}
.link-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 260px;
  min-height: 320px;
  background-color: var(--color-background-secondary);
  border-radius: 40px;
  padding: 20px;
}
.link-card p {
  font-size: 20px;
  color: var(--color-text-dark);
  text-decoration: none;
}
.link-card img {
  width: 100px;
}
.link-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* padding: 0 60px; */
}
.input-container input {
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 0 20px;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 15px;
}

.input-container {
  position: relative;
  width: fit-content;
  width: 70vw;
  min-width: 150px;
}
/* ******* */
.movie-card {
  position: relative;
  text-align: center;
  width: 280px;
  min-height: 350px;
  background-color: var(--color-background-secondary);
  border-radius: 5px;
  overflow: hidden;
}
/* .hover-card:hover {
  background-color: var(--color-primary);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
} */
.movie-card p {
  color: var(--color-text-dark);
  margin: 0;
}
.movie-card .movie-image {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}
.movie-details {
  gap: 20px;
  margin-top: 20px;
}
.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.8); /* Purple with transparency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
  padding: 20px;
  text-align: center;
}
.poster {
  width: fit-content;
}
.poster img {
  width: 260px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* Hover Effects */
.movie-card:hover .movie-overlay {
  opacity: 1; /* Show the purple layer */
}

.movie-card:hover .movie-image {
  transform: scale(1.1); /* Slight zoom on image like professional sites */
}

.details {
  max-width: 600px;
}

.details h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.info-box {
  min-width: 240px;
}

/* Mobile devices */

.ratings {
  margin-top: 20px;
}

.ratings ul {
  list-style: disc;
  margin-left: 20px;
}
/* kkljhlhbknjhkhj */
.btn-close {
  color: #ff0000 !important;
  font-weight: bold !important;
  font-size: 20px !important;
  background: none;
  border: 0.1px solid !important;
  opacity: 1 !important;
  width: auto !important;
}
.btn:hover {
  color: var(--color-text) !important;
}
.btn {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-primary);
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 1;
}
.icon {
  width: 30px;
  margin: -5px 5px 0 0;
}

.neon-pulse {
  background: #000;
  border: 2px solid var(--color-primary);
  box-shadow: 0 0 10px rgba(255, 79, 63, 0.684);
  overflow: visible;
}

.neon-pulse::before,
.neon-pulse::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid rgba(255, 79, 63, 0.684);
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

.neon-pulse::after {
  animation-delay: 1s;
}

.article-card {
  width: 350px;
  background-color: var(--color-background-secondary);
  height: 500px;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.article-card .article-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.article-card .article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 3s ease-in-out;
}
.article-card:hover .article-img {
  transform: scale(1.1);
}

.article-link {
  text-decoration: none;
  color: var(--color-text);
}
.article-details {
  height: 100%;
  padding: 10px;
}
.article-card p {
  margin: 0;
  color: var(--color-text-dark);
}

.video-item {
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 380px;
  height: 450px;
  background-color: var(--color-background-secondary);
  overflow: hidden;
}
.video-item:hover .video-img {
  transform: scale(1.1);
}
.video-content-details {
  flex-grow: 1;
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  justify-content: space-between;
}
.video-title {
  font-size: 23px;
  line-height: normal;
  color: var(--color-text) !important;
}
.video-content-details p {
  color: var(--color-text-dark);
}

.video-img-container {
  overflow: hidden;
  width: 100%;
}
.video-img {
  width: 100%;
  transition: all 3s ease;
}
.details-hover:hover {
  background-color: var(--color-primary);
}

.script-textarea {
  width: 100%;
  height: 200px;
  background: #fdfdfd;
  border: 1px solid #ddd;
  font-family:
    "Courier Prime", "Courier New", monospace; /* The Screenplay font! */
  font-size: 1.1rem;
  padding: 20px;
  line-height: 1.5;
  outline: none;
  resize: none;
}

/* ////////// */
.app-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.progress-bar {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 4px;
  margin: 10px 0;
}
.fill {
  height: 100%;
  background: var(--color-primary);
  transition: 0.3s;
}
.beat-card textarea {
  width: 100%;
  height: 200px;
  padding: 15px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  margin-top: 15px;
}
.script-preview {
  background: white;
  color: black;
  padding: 40px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 8px;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.finish-btn {
  background: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.primary-btn {
  background: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
